<%= form_with(model: fencing, local: true) do |form| %>
  <% if fencing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fencing.errors.count, "error") %> prohibited this fencing from being saved:</h2>

      <ul>
        <% fencing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :diy %>
    <%= form.check_box :diy %>
  </div>

  <div class="field">
    <%= form.label :buy %>
    <%= form.number_field :buy %>
  </div>

  <div class="field">
    <%= form.label :sell %>
    <%= form.number_field :sell %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :source_notes %>
    <%= form.text_area :source_notes %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="field">
    <%= form.label :filename %>
    <%= form.text_field :filename %>
  </div>

  <div class="field">
    <%= form.label :internal_id %>
    <%= form.number_field :internal_id %>
  </div>

  <div class="field">
    <%= form.label :unique_entry_id %>
    <%= form.text_field :unique_entry_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
