<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fencing.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @fencing.image %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @fencing.diy %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @fencing.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @fencing.sell %>
</p>

<p>
  <strong>Source:</strong>
  <%= @fencing.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @fencing.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @fencing.version %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @fencing.filename %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @fencing.internal_id %>
</p>

<p>
  <strong>Unique entry:</strong>
  <%= @fencing.unique_entry_id %>
</p>

<%= link_to 'Edit', edit_fencing_path(@fencing) %> |
<%= link_to 'Back', fencings_path %>
