<p id="notice"><%= notice %></p>

<h1>Tools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Variation</th>
      <th>Body title</th>
      <th>Diy boolean</th>
      <th>Customize</th>
      <th>Kit cost</th>
      <th>Ueses</th>
      <th>Buy</th>
      <th>Sell</th>
      <th>Color 1</th>
      <th>Color 2</th>
      <th>Size</th>
      <th>Set</th>
      <th>Source</th>
      <th>Source notes</th>
      <th>Version</th>
      <th>Filename</th>
      <th>Variant</th>
      <th>Internal</th>
      <th>Unique entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.name %></td>
        <td><%= tool.image %></td>
        <td><%= tool.variation %></td>
        <td><%= tool.body_title %></td>
        <td><%= tool.diy_boolean %></td>
        <td><%= tool.customize %></td>
        <td><%= tool.kit_cost %></td>
        <td><%= tool.ueses %></td>
        <td><%= tool.buy %></td>
        <td><%= tool.sell %></td>
        <td><%= tool.color_1 %></td>
        <td><%= tool.color_2 %></td>
        <td><%= tool.size %></td>
        <td><%= tool.set %></td>
        <td><%= tool.source %></td>
        <td><%= tool.source_notes %></td>
        <td><%= tool.version %></td>
        <td><%= tool.filename %></td>
        <td><%= tool.variant_id %></td>
        <td><%= tool.internal_id %></td>
        <td><%= tool.unique_entry_id %></td>
        <td><%= link_to 'Show', tool %></td>
        <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
        <td><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tool', new_tool_path %>
