<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tool.image %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @tool.variation %>
</p>

<p>
  <strong>Body title:</strong>
  <%= @tool.body_title %>
</p>

<p>
  <strong>Diy boolean:</strong>
  <%= @tool.diy_boolean %>
</p>

<p>
  <strong>Customize:</strong>
  <%= @tool.customize %>
</p>

<p>
  <strong>Kit cost:</strong>
  <%= @tool.kit_cost %>
</p>

<p>
  <strong>Ueses:</strong>
  <%= @tool.ueses %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @tool.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @tool.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @tool.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @tool.color_2 %>
</p>

<p>
  <strong>Size:</strong>
  <%= @tool.size %>
</p>

<p>
  <strong>Set:</strong>
  <%= @tool.set %>
</p>

<p>
  <strong>Source:</strong>
  <%= @tool.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @tool.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @tool.version %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @tool.filename %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @tool.variant_id %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @tool.internal_id %>
</p>

<p>
  <strong>Unique entry:</strong>
  <%= @tool.unique_entry_id %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
