<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poster.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @poster.image %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @poster.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @poster.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @poster.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @poster.color_2 %>
</p>

<p>
  <strong>Size:</strong>
  <%= @poster.size %>
</p>

<p>
  <strong>Source:</strong>
  <%= @poster.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @poster.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @poster.version %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @poster.catalog %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @poster.filename %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @poster.internal_id %>
</p>

<p>
  <strong>Unique entry:</strong>
  <%= @poster.unique_entry_id %>
</p>

<%= link_to 'Edit', edit_poster_path(@poster) %> |
<%= link_to 'Back', posters_path %>
