<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wallpaper.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @wallpaper.image %>
</p>

<p>
  <strong>Vfx:</strong>
  <%= @wallpaper.vfx %>
</p>

<p>
  <strong>Vfx type:</strong>
  <%= @wallpaper.vfx_type %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @wallpaper.diy %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @wallpaper.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @wallpaper.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @wallpaper.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @wallpaper.color_2 %>
</p>

<p>
  <strong>Source:</strong>
  <%= @wallpaper.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @wallpaper.source_notes %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @wallpaper.catalog %>
</p>

<p>
  <strong>Window type:</strong>
  <%= @wallpaper.window_type %>
</p>

<p>
  <strong>Window color:</strong>
  <%= @wallpaper.window_color %>
</p>

<p>
  <strong>Pane type:</strong>
  <%= @wallpaper.pane_type %>
</p>

<p>
  <strong>Curtain:</strong>
  <%= @wallpaper.curtain %>
</p>

<p>
  <strong>Curtain color:</strong>
  <%= @wallpaper.curtain_color %>
</p>

<p>
  <strong>Celing type:</strong>
  <%= @wallpaper.celing_type %>
</p>

<p>
  <strong>Hha concept 1:</strong>
  <%= @wallpaper.hha_concept_1 %>
</p>

<p>
  <strong>Hha concept 2:</strong>
  <%= @wallpaper.hha_concept_2 %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @wallpaper.tag %>
</p>

<p>
  <strong>Version:</strong>
  <%= @wallpaper.version %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @wallpaper.filename %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @wallpaper.internal_id %>
</p>

<p>
  <strong>Unique entry:</strong>
  <%= @wallpaper.unique_entry_id %>
</p>

<%= link_to 'Edit', edit_wallpaper_path(@wallpaper) %> |
<%= link_to 'Back', wallpapers_path %>
