<p id="notice"><%= notice %></p>

<h1>Rugs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Size</th>
      <th>Diy</th>
      <th>Buy</th>
      <th>Sell</th>
      <th>Color 1</th>
      <th>Color 2</th>
      <th>Source</th>
      <th>Source notes</th>
      <th>Version</th>
      <th>Hha concept 1</th>
      <th>Hha concept 2</th>
      <th>Hha series</th>
      <th>Tag</th>
      <th>Catalog</th>
      <th>Filename</th>
      <th>Internal</th>
      <th>Unieque entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rugs.each do |rug| %>
      <tr>
        <td><%= rug.name %></td>
        <td><%= rug.image %></td>
        <td><%= rug.size %></td>
        <td><%= rug.diy %></td>
        <td><%= rug.buy %></td>
        <td><%= rug.sell %></td>
        <td><%= rug.color_1 %></td>
        <td><%= rug.color_2 %></td>
        <td><%= rug.source %></td>
        <td><%= rug.source_notes %></td>
        <td><%= rug.version %></td>
        <td><%= rug.hha_concept_1 %></td>
        <td><%= rug.hha_concept_2 %></td>
        <td><%= rug.hha_series %></td>
        <td><%= rug.tag %></td>
        <td><%= rug.catalog %></td>
        <td><%= rug.filename %></td>
        <td><%= rug.internal_id %></td>
        <td><%= rug.unieque_entry_id %></td>
        <td><%= link_to 'Show', rug %></td>
        <td><%= link_to 'Edit', edit_rug_path(rug) %></td>
        <td><%= link_to 'Destroy', rug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rug', new_rug_path %>
