<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rug.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @rug.image %>
</p>

<p>
  <strong>Size:</strong>
  <%= @rug.size %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @rug.diy %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @rug.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @rug.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @rug.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @rug.color_2 %>
</p>

<p>
  <strong>Source:</strong>
  <%= @rug.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @rug.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @rug.version %>
</p>

<p>
  <strong>Hha concept 1:</strong>
  <%= @rug.hha_concept_1 %>
</p>

<p>
  <strong>Hha concept 2:</strong>
  <%= @rug.hha_concept_2 %>
</p>

<p>
  <strong>Hha series:</strong>
  <%= @rug.hha_series %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @rug.tag %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @rug.catalog %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @rug.filename %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @rug.internal_id %>
</p>

<p>
  <strong>Unieque entry:</strong>
  <%= @rug.unieque_entry_id %>
</p>

<%= link_to 'Edit', edit_rug_path(@rug) %> |
<%= link_to 'Back', rugs_path %>
