<p id="notice"><%= notice %></p>

<h1>Housewares</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Variation</th>
      <th>Body title</th>
      <th>Pattern</th>
      <th>Diy</th>
      <th>Body customize</th>
      <th>Kit cost</th>
      <th>Buy</th>
      <th>Sell</th>
      <th>Color1</th>
      <th>Color2</th>
      <th>Size</th>
      <th>Source</th>
      <th>Source notes</th>
      <th>Version</th>
      <th>Hha concept1</th>
      <th>Hha concept2</th>
      <th>Hha series</th>
      <th>Hha set</th>
      <th>Interact</th>
      <th>Tag</th>
      <th>Speaker type</th>
      <th>Listing type</th>
      <th>Catalog</th>
      <th>Filename</th>
      <th>Variant</th>
      <th>Internal</th>
      <th>Unique entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housewares.each do |houseware| %>
      <tr>
        <td><%= houseware.name %></td>
        <td><%= houseware.image %></td>
        <td><%= houseware.variation %></td>
        <td><%= houseware.body_title %></td>
        <td><%= houseware.pattern %></td>
        <td><%= houseware.diy %></td>
        <td><%= houseware.body_customize %></td>
        <td><%= houseware.kit_cost %></td>
        <td><%= houseware.buy %></td>
        <td><%= houseware.sell %></td>
        <td><%= houseware.color1 %></td>
        <td><%= houseware.color2 %></td>
        <td><%= houseware.size %></td>
        <td><%= houseware.source %></td>
        <td><%= houseware.source_notes %></td>
        <td><%= houseware.version %></td>
        <td><%= houseware.hha_concept1 %></td>
        <td><%= houseware.hha_concept2 %></td>
        <td><%= houseware.hha_series %></td>
        <td><%= houseware.hha_set %></td>
        <td><%= houseware.interact %></td>
        <td><%= houseware.tag %></td>
        <td><%= houseware.speaker_type %></td>
        <td><%= houseware.listing_type %></td>
        <td><%= houseware.catalog %></td>
        <td><%= houseware.filename %></td>
        <td><%= houseware.variant_id %></td>
        <td><%= houseware.internal_id %></td>
        <td><%= houseware.unique_entry_id %></td>
        <td><%= link_to 'Show', houseware %></td>
        <td><%= link_to 'Edit', edit_houseware_path(houseware) %></td>
        <td><%= link_to 'Destroy', houseware, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Houseware', new_houseware_path %>
