<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @houseware.name %>
</p>

<p>
  <strong>Image:</strong>
  <img src=<%= @houseware.image %>>
</p>

<p>
  <strong>Variation:</strong>
  <%= @houseware.variation %>
</p>

<p>
  <strong>Body title:</strong>
  <%= @houseware.body_title %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @houseware.pattern %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @houseware.diy %>
</p>

<p>
  <strong>Body customize:</strong>
  <%= @houseware.body_customize %>
</p>

<p>
  <strong>Kit cost:</strong>
  <%= @houseware.kit_cost %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @houseware.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @houseware.sell %>
</p>

<p>
  <strong>Color1:</strong>
  <%= @houseware.color_1 %>
</p>

<p>
  <strong>Color2:</strong>
  <%= @houseware.color_2 %>
</p>

<p>
  <strong>Size:</strong>
  <%= @houseware.size %>
</p>

<p>
  <strong>Source:</strong>
  <%= @houseware.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @houseware.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @houseware.version %>
</p>

<p>
  <strong>Hha concept1:</strong>
  <%= @houseware.hha_concept_1 %>
</p>

<p>
  <strong>Hha concept2:</strong>
  <%= @houseware.hha_concept_2 %>
</p>

<p>
  <strong>Hha series:</strong>
  <%= @houseware.hha_series %>
</p>

<p>
  <strong>Hha set:</strong>
  <%= @houseware.hha_set %>
</p>

<p>
  <strong>Interact:</strong>
  <%= @houseware.interact %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @houseware.tag %>
</p>

<p>
  <strong>Speaker type:</strong>
  <%= @houseware.speaker_type %>
</p>

<p>
  <strong>Listing type:</strong>
  <%= @houseware.lighting_type %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @houseware.catalog %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @houseware.filename %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @houseware.variant_id %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @houseware.internal_id %>
</p>

<p>
  <strong>Unique entry:</strong>
  <%= @houseware.unique_entry_id %>
</p>

<%= link_to 'Edit', edit_houseware_path(@houseware) %> |
<%= link_to 'Back', housewares_path %>
