<p id="notice"><%= notice %></p>

<h1>Wallmounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Images</th>
      <th>Variation</th>
      <th>Body title</th>
      <th>Pattern</th>
      <th>Pattern title</th>
      <th>Diy</th>
      <th>Body customize</th>
      <th>Pattern customize</th>
      <th>Kit cost</th>
      <th>Buy</th>
      <th>Sell</th>
      <th>Color 1</th>
      <th>Color 2</th>
      <th>Size</th>
      <th>Source</th>
      <th>Source notes</th>
      <th>Version</th>
      <th>Hha concept 1</th>
      <th>Hha concept 2</th>
      <th>Hha series</th>
      <th>Hha set</th>
      <th>Interact</th>
      <th>Tag</th>
      <th>Door deco</th>
      <th>Lighting type</th>
      <th>Catalog</th>
      <th>Filename</th>
      <th>Variant</th>
      <th>Internal</th>
      <th>Unieue entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallmounts.each do |wallmount| %>
      <tr>
        <td><%= wallmount.name %></td>
        <td><%= wallmount.images %></td>
        <td><%= wallmount.variation %></td>
        <td><%= wallmount.body_title %></td>
        <td><%= wallmount.pattern %></td>
        <td><%= wallmount.pattern_title %></td>
        <td><%= wallmount.diy %></td>
        <td><%= wallmount.body_customize %></td>
        <td><%= wallmount.pattern_customize %></td>
        <td><%= wallmount.kit_cost %></td>
        <td><%= wallmount.buy %></td>
        <td><%= wallmount.sell %></td>
        <td><%= wallmount.color_1 %></td>
        <td><%= wallmount.color_2 %></td>
        <td><%= wallmount.size %></td>
        <td><%= wallmount.source %></td>
        <td><%= wallmount.source_notes %></td>
        <td><%= wallmount.version %></td>
        <td><%= wallmount.hha_concept_1 %></td>
        <td><%= wallmount.hha_concept_2 %></td>
        <td><%= wallmount.hha_series %></td>
        <td><%= wallmount.hha_set %></td>
        <td><%= wallmount.interact %></td>
        <td><%= wallmount.tag %></td>
        <td><%= wallmount.door_deco %></td>
        <td><%= wallmount.lighting_type %></td>
        <td><%= wallmount.catalog %></td>
        <td><%= wallmount.filename %></td>
        <td><%= wallmount.variant_id %></td>
        <td><%= wallmount.internal_id %></td>
        <td><%= wallmount.unieue_entry_id %></td>
        <td><%= link_to 'Show', wallmount %></td>
        <td><%= link_to 'Edit', edit_wallmount_path(wallmount) %></td>
        <td><%= link_to 'Destroy', wallmount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wallmount', new_wallmount_path %>
