<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wallmount.name %>
</p>

<p>
  <strong>Images:</strong>
  <%= @wallmount.images %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @wallmount.variation %>
</p>

<p>
  <strong>Body title:</strong>
  <%= @wallmount.body_title %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @wallmount.pattern %>
</p>

<p>
  <strong>Pattern title:</strong>
  <%= @wallmount.pattern_title %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @wallmount.diy %>
</p>

<p>
  <strong>Body customize:</strong>
  <%= @wallmount.body_customize %>
</p>

<p>
  <strong>Pattern customize:</strong>
  <%= @wallmount.pattern_customize %>
</p>

<p>
  <strong>Kit cost:</strong>
  <%= @wallmount.kit_cost %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @wallmount.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @wallmount.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @wallmount.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @wallmount.color_2 %>
</p>

<p>
  <strong>Size:</strong>
  <%= @wallmount.size %>
</p>

<p>
  <strong>Source:</strong>
  <%= @wallmount.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @wallmount.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @wallmount.version %>
</p>

<p>
  <strong>Hha concept 1:</strong>
  <%= @wallmount.hha_concept_1 %>
</p>

<p>
  <strong>Hha concept 2:</strong>
  <%= @wallmount.hha_concept_2 %>
</p>

<p>
  <strong>Hha series:</strong>
  <%= @wallmount.hha_series %>
</p>

<p>
  <strong>Hha set:</strong>
  <%= @wallmount.hha_set %>
</p>

<p>
  <strong>Interact:</strong>
  <%= @wallmount.interact %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @wallmount.tag %>
</p>

<p>
  <strong>Door deco:</strong>
  <%= @wallmount.door_deco %>
</p>

<p>
  <strong>Lighting type:</strong>
  <%= @wallmount.lighting_type %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @wallmount.catalog %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @wallmount.filename %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @wallmount.variant_id %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @wallmount.internal_id %>
</p>

<p>
  <strong>Unieue entry:</strong>
  <%= @wallmount.unieue_entry_id %>
</p>

<%= link_to 'Edit', edit_wallmount_path(@wallmount) %> |
<%= link_to 'Back', wallmounts_path %>
