<%= form_with(model: turnip, local: true) do |form| %>
  <% if turnip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turnip.errors.count, "error") %> prohibited this turnip from being saved:</h2>

      <ul>
        <% turnip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purchasePrice %>
    <%= form.text_field :purchasePrice %>
  </div>

  <div class="field">
    <%= form.label :amountPurchased %>
    <%= form.text_field :amountPurchased %>
  </div>

  <div class="field">
    <%= form.label :salePrice %>
    <%= form.text_field :salePrice %>
  </div>

  <div class="field">
    <%= form.label :spentBells %>
    <%= form.text_field :spentBells %>
  </div>

  <div class="field">
    <%= form.label :madeBells %>
    <%= form.text_field :madeBells %>
  </div>

  <div class="field">
    <%= form.label :week_of %>
    <%= form.date_field :week_of %>
  </div>

  <div class="field">
    <%= form.label :tap_Link %>
    <%= form.text_field :tap_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
