<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @floor.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @floor.image %>
</p>

<p>
  <strong>Vfx:</strong>
  <%= @floor.vfx %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @floor.diy %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @floor.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @floor.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @floor.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @floor.color_2 %>
</p>

<p>
  <strong>Source:</strong>
  <%= @floor.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @floor.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @floor.version %>
</p>

<p>
  <strong>Hha concept 1:</strong>
  <%= @floor.hha_concept_1 %>
</p>

<p>
  <strong>Hha concept 2:</strong>
  <%= @floor.hha_concept_2 %>
</p>

<p>
  <strong>Hha series:</strong>
  <%= @floor.hha_series %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @floor.tag %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @floor.catalog %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @floor.filename %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @floor.internal_id %>
</p>

<p>
  <strong>Unieque entry:</strong>
  <%= @floor.unieque_entry_id %>
</p>

<%= link_to 'Edit', edit_floor_path(@floor) %> |
<%= link_to 'Back', floors_path %>
