<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @item.variation %>
</p>

<p>
  <strong>Body title:</strong>
  <%= @item.body_title %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @item.pattern %>
</p>

<p>
  <strong>Pattern title:</strong>
  <%= @item.pattern_title %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @item.diy %>
</p>

<p>
  <strong>Body customize:</strong>
  <%= @item.body_customize %>
</p>

<p>
  <strong>Pattern customize:</strong>
  <%= @item.pattern_customize %>
</p>

<p>
  <strong>Kit cost:</strong>
  <%= @item.kit_cost %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @item.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @item.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @item.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @item.color_2 %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Source:</strong>
  <%= @item.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @item.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @item.version %>
</p>

<p>
  <strong>Hha concept 1:</strong>
  <%= @item.hha_concept_1 %>
</p>

<p>
  <strong>Hha concept 2:</strong>
  <%= @item.hha_concept_2 %>
</p>

<p>
  <strong>Hha series:</strong>
  <%= @item.hha_series %>
</p>

<p>
  <strong>Hha set:</strong>
  <%= @item.hha_set %>
</p>

<p>
  <strong>Interact:</strong>
  <%= @item.interact %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @item.tag %>
</p>


<p>
  <strong>Speaker type:</strong>
  <%= @item.speaker_type %>
</p>

<p>
  <strong>Lighting type:</strong>
  <%= @item.lighting_type %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @item.catalog %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @item.filename %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @item.variant_id %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @item.internal_id %>
</p>

<p>
  <strong>Door deco:</strong>
  <%= @item.door_deco %>
</p>

<p>
  <strong>Vfx:</strong>
  <%= @item.vfx %>
</p>

<p>
  <strong>Vfx type:</strong>
  <%= @item.vfx_type %>
</p>

<p>
  <strong>Window type:</strong>
  <%= @item.window_type %>
</p>

<p>
  <strong>Window color:</strong>
  <%= @item.window_color %>
</p>

<p>
  <strong>Pane type:</strong>
  <%= @item.pane_type %>
</p>

<p>
  <strong>Curtain type:</strong>
  <%= @item.curtain_type %>
</p>

<p>
  <strong>Curtain color:</strong>
  <%= @item.curtain_color %>
</p>

<p>
  <strong>Ceiling type:</strong>
  <%= @item.ceiling_type %>
</p>

<p>
  <strong>Set:</strong>
  <%= @item.set %>
</p>

<p>
  <strong>Uses:</strong>
  <%= @item.uses %>
</p>

<p>
  <strong>Closet image:</strong>
  <%= @item.closet_image %>
</p>

<p>
  <strong>Storage image:</strong>
  <%= @item.storage_image %>
</p>

<p>
  <strong>Label themes:</strong>
  <%= @item.label_themes %>
</p>

<p>
  <strong>Primary shape:</strong>
  <%= @item.primary_shape %>
</p>

<p>
  <strong>Secondary shape:</strong>
  <%= @item.secondary_shape %>
</p>

<p>
  <strong>Framed image:</strong>
  <%= @item.framed_image %>
</p>

<p>
  <strong>Album image:</strong>
  <%= @item.album_image %>
</p>

<p>
  <strong>High-res texture:</strong>
  <%= @item.high_res_texture %>
</p>

<p>
  <strong>Genuine:</strong>
  <%= @item.genuine %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
