<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @photo.variation %>
</p>

<p>
  <strong>Body title:</strong>
  <%= @photo.body_title %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @photo.pattern %>
</p>

<p>
  <strong>Pattern title:</strong>
  <%= @photo.pattern_title %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @photo.diy %>
</p>

<p>
  <strong>Customize:</strong>
  <%= @photo.customize %>
</p>

<p>
  <strong>Kit cost:</strong>
  <%= @photo.kit_cost %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @photo.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @photo.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @photo.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @photo.color_2 %>
</p>

<p>
  <strong>Size:</strong>
  <%= @photo.size %>
</p>

<p>
  <strong>Source:</strong>
  <%= @photo.source %>
</p>

<p>
  <strong>Version:</strong>
  <%= @photo.version %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @photo.catalog %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @photo.filename %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @photo.variant_id %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @photo.internal_id %>
</p>

<p>
  <strong>Unique entry:</strong>
  <%= @photo.unique_entry_id %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
