<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @misc.name %>
</p>

<p>
  <strong>Images:</strong>
  <%= @misc.images %>
</p>

<p>
  <strong>Variation:</strong>
  <%= @misc.variation %>
</p>

<p>
  <strong>Body title:</strong>
  <%= @misc.body_title %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @misc.pattern %>
</p>

<p>
  <strong>Pattern title:</strong>
  <%= @misc.pattern_title %>
</p>

<p>
  <strong>Diy:</strong>
  <%= @misc.diy %>
</p>

<p>
  <strong>Body customize:</strong>
  <%= @misc.body_customize %>
</p>

<p>
  <strong>Pattern customize:</strong>
  <%= @misc.pattern_customize %>
</p>

<p>
  <strong>Kit cost:</strong>
  <%= @misc.kit_cost %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @misc.buy %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @misc.sell %>
</p>

<p>
  <strong>Color 1:</strong>
  <%= @misc.color_1 %>
</p>

<p>
  <strong>Color 2:</strong>
  <%= @misc.color_2 %>
</p>

<p>
  <strong>Size:</strong>
  <%= @misc.size %>
</p>

<p>
  <strong>Source:</strong>
  <%= @misc.source %>
</p>

<p>
  <strong>Source notes:</strong>
  <%= @misc.source_notes %>
</p>

<p>
  <strong>Version:</strong>
  <%= @misc.version %>
</p>

<p>
  <strong>Hha concept 1:</strong>
  <%= @misc.hha_concept_1 %>
</p>

<p>
  <strong>Hha concept 2:</strong>
  <%= @misc.hha_concept_2 %>
</p>

<p>
  <strong>Hha series:</strong>
  <%= @misc.hha_series %>
</p>

<p>
  <strong>Hha set:</strong>
  <%= @misc.hha_set %>
</p>

<p>
  <strong>Interact:</strong>
  <%= @misc.interact %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @misc.tag %>
</p>

<p>
  <strong>Speaker type:</strong>
  <%= @misc.speaker_type %>
</p>

<p>
  <strong>Lighting type:</strong>
  <%= @misc.lighting_type %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @misc.catalog %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @misc.filename %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @misc.variant_id %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @misc.internal_id %>
</p>

<p>
  <strong>Unieue entry:</strong>
  <%= @misc.unieue_entry_id %>
</p>

<%= link_to 'Edit', edit_misc_path(@misc) %> |
<%= link_to 'Back', miscs_path %>
